

body {
    margin: 0;
    padding: 0;
    font-family: 'Didot', serif;
}

main {
    padding: 16px;
    background-color: rgb(172, 242, 235);

}

footer {
    padding: 24px 0px 24px 0px;
}

img {
    height: 200px;
    box-shadow: 1px 1px 1px lightblue;
}

nav {
    border-bottom: 1px black;
    padding: 16px;
}

.recipe {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    column-gap: 20px;
    grid-template-rows: 350px 350px;
    row-gap: 20px;
    grid-auto-flow: row;
}

nav {
    background-color: coral;
}

footer {
    background-color: rgb(34, 164, 158);
    padding: 50px;
    color: white
}

a {
    text-decoration: none;
    color: navy;
}

.border {
    border-bottom: 10px rgb(26, 213, 179);
}

.list {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    column-gap: 5px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

.tabulate {
    box-shadow: 3px 3px 3px 3px lightblue;
}
